body {
    margin: 0;
    font-family: Outfit:
    background-color: hsl(218, 44%, 22%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

